/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul, li {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

/* navbar */


/* sidebar */
.sidebar {
  width: 8rem;
  height: 100%;
  background: #eee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.menu-icon:hover .line {
  width: 2.5rem;
}

.line {
  height: .2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: .6rem;
  /* transform: scale(1); */
}

.line-1,
.line-3 {
  width: 1.8rem;
  transition: all 0.4s ease;
}

.social-icons-list {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  color:#777;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #deaa86;
}

.year {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #555;
}


/* NAVIGATION */
.navigation {
  left: -32rem;
  position: fixed;
  width: 40rem;
  height: 100%;
  background: linear-gradient(to top, rgba(34,32,41,1), rgba(34,32,41,.8)), url('../img/nav-bg.jpeg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left .8s cubic-bezier(.5,0,0,1);
  z-index: 5;
}

.navigation-heading {
  font-family: 'Josefin', sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  letter-spacing: .2rem;
  color: #deaa86;
  text-align: center;
}

.navigation-search-input {
  width:30rem;
  padding: 1rem 2rem;
  background-color: rgba(0,0,0,0.4);
  border:unset;
  font-family: 'Josefin', sans-serif;
  font-size: 1.6rem;
  color: #deaa86;
  outline: none;
  letter-spacing: .2rem;
  border: .1rem solid #555;
  border-radius: 10rem;
  transition: background-color 0.2s ease;

}

.navigation-search-input:focus {
  background-color: rgba(0,0,0,0.1);
}

.navigation-search {
  position: relative;
}

.navigation-btn {
  border: unset;
  background: transparent;
  font-size: 1.6rem;
  color: #deaa86;
  position: absolute;
  top: 1rem;
  right:1rem;
  cursor: pointer;
}

.navigation-btn:focus {
  outline: none;
}

.navigation-list {
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: uppercase;
  transition: color .5s ease;
}

.navigation-link:hover {
  color: #deaa86;
}

.navigation-link:before {
  content:'';
  width: 0rem;
  height: .1rem;
  background:#deaa86; 
  position: absolute;
  top: 1rem;
  left: -4rem;
  transition: width .3s cubic-bezier(1, 0,0, 1);
}
.navigation-link:after {
  content:'';
  width: 0rem;
  height: .1rem;
  background:#deaa86; 
  position: absolute;
  top: 1rem;
  right: -4rem;
  transition: width .3s cubic-bezier(1, 0,0, 1);
}

.navigation-link:hover::before,
.navigation-link:hover::after {
  width: 3rem;
}

.copyright {
  color: #fff;
  font-size:1.2rem;
  margin-bottom: 1.6rem;
}

/* GENERAL SIBLING ~ */

/* *****SLIDE OUT NAVIGATION****** */
.checkbox:checked ~ .navigation {
  left: 8rem;
}
/* ******ROTATE LINES TO X****** */
.checkbox:checked ~ .sidebar .line-1 {
  transform: rotate(-405deg) translate(-5px, 6px); 
  width: 2.5rem;
}
.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;

}
.checkbox:checked ~ .sidebar .line-3 {
  transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem;
}



/* header */
.header {
  margin-left:8rem;
  height: 100vh;
  background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.5)), url('../img/header-1.jpeg') center no-repeat;
  background-position: cover;
}

.brand {
  display: flex;
  cursor: pointer;
  /* justify-content: center; */
}

.hotel-heading {
  font-family: 'Josefin', sans-serif;
  font-size:2.7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: .2rem;
}

.banner {
  color:#ddd;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  font-family: 'Josefin', sans-serif;
  font-weight: 400;
  font-size: 6rem;
  margin-bottom: 0;
  animation: anim 1.5s;
}

.banner-paragraph {
  font-size: 3.5rem;
  font-weight: 300;
  animation: anim 1.5s .5s backwards;
}

.banner-button {
  cursor: pointer;
  width: 21rem;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  border: none;
  color: #333;
  letter-spacing: .1rem;
  border-radius: 10rem;
  outline: none;
  background: linear-gradient(to right, gold, goldenrod);
  animation: anim 1s 1s backwards;
}

.banner-button:hover {
  background: linear-gradient(to left, gold, goldenrod); 
}

.banner-button:active {
  transform: translateY(.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.about-us {
  margin-left: 8rem;
  display: flex;
  background: #ddd;
}

.about-us-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  box-sizing: border-box;
}

.about-us-heading {
  font-family: 'Josefin', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color:#555;
}

.small-underline {
  width: 9rem;
  height: .1rem;
  background-color:#deaa86; 
  margin: 0 auto 1rem auto;
}

.big-underline {
  width: 20rem;
  height: .1rem;
  background-color:#deaa86; 
}



.sub-heading {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  color:#b85d1c;
}

.about-us-paragraph {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.about-us-btn {
  width: 15rem;
  padding: .7rem .5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid #b85d1c;
  outline: none;
  cursor: pointer;
  color:#b85d1c;
}


.btn-arrow {
  margin-left: .5rem;
  transition: margin-left .5s ease;
}

.about-us-btn:hover .btn-arrow {
  margin-left: 1.5rem;
}



.about-us-images {
  flex: 1 1;
  position: relative;
}

.image {
  width: 32rem;
  position: absolute;
  top:50%;
  left:50%;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.4);
  border-radius: .9rem;
  
}

.image-1 {
  transform: translate(-20%, -90%)
}

.image-2 {
  transform: translate(-70%, -70%)
}

.image-3 {
  transform: translate(-50%, -50%)
}

.image-4 {
  transform: translate(-30%, -30%)
}


/* common header */
.common-header {
  padding: 5rem;
  text-align: center;
  color: #b85d1c;
}

.common-heading {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: .2rem;
}

.small-underline {
  width: 9rem;
  height: .1rem;
  background-color:#deaa86; 
  margin: 0 auto 1rem auto;
}

.big-underline {
  width: 20rem;
  height: .1rem;
  background-color:#deaa86; 
  margin: auto;
}



.rooms {
  margin-left: 8rem;
}

.rooms-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-card {
  width: 60rem;
  margin: 5rem;
  background-color: #252525;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.4);
}

.room-img {
  width: 100%;
}

.room-card-content {
  color:#ddd;
  padding: 2rem;

}

.room-card-heading {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

.room-card-paragraph {
  font-size: 1.5rem;
  color: #ccc;
}

.room-price {
  font-size: 5rem;
  font-weight: 300;
  text-align: right;
  margin: 0;
}


.rooms-btn-wrapper {
  text-align: center;
}
.room-card-btn {
  width: 15rem;
  padding: 1.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid #b85d1c;
  border-radius: 10rem;
  outline: none;
  cursor: pointer;
  color:#b85d1c;
}

.rooms-btn {
  width: 20rem;
  padding: 1.5rem 1rem;
  margin: 4rem 0;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #b85d1c;
  color:#b85d1c;
  cursor: pointer;
  outline: none;
  border-radius: 10rem;
  transition: all 0.3s ease;
}

.rooms-btn:hover {
  color:#fff;
  background-color:#b85d1c; 
}



.customers {
  margin-left: 8rem;
  padding-bottom: 7rem;
  background-color: rgb(24, 24, 24);
}
.customers-paragraph {
  font-size: 1.8rem;
  color:#ddd;
  width: 50%;
  margin: 2rem auto 8rem auto;
  text-align: center;
}

.customers-card-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.customer-card {
  background-color: #eee;
  width: 60rem;
  display: flex;
}

.customer-image-wrapper {
  margin: auto 0;
}

.customer-image {
  width: 15rem;
  margin-left: -1.3rem;
  transform: translateY(.3rem);
}

.customer-info {
  padding: 0 2rem;
}

.customer-fullname {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}

.customer-paragraph-1 {
  font-size: 1.2rem;
  font-style: italic;
  color:#b85d1c;
}

.customer-paragraph-2 {
  font-size: 1.3rem;
  font-style: italic;

}

.footer {
  margin-left: 8rem;
}

.main-part {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
  padding: 4rem;
}

.footer-heading {
  font-size: 2.rem;
  font-weight: 300;
  color: goldenrod;
  margin: 1rem 0 3rem 0;
}

.footer-list {

}

.footer-list-item {
  margin-bottom: 2rem;
}

.footer-list-link {
  font-size: 1.4rem;
  color:#bbb;
}

.contact p {
  font-size: 1.5rem;
  color:#bbb;
  margin-bottom: 1rem;
}

.footer-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-input {
  width: 25rem;
  padding: .5rem;
  font-family: 'Josefin', sans-serif;
  font-size: 1.8rem;
  color:#444;
  outline: none;
  display: block;
}

.footer-btn {
  padding: 1rem;
  background-color: #b85d1c;
  color:#ddd;
  border:none;
}

.gallery-images {
  max-width: 45rem;
  display: flex;
  flex-wrap: wrap;
}

.image-wrapper {
  width: 12rem;
  margin: .4rem;
  overflow: hidden;
}

.footer-image {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: all .5s ease;
}

.footer-image:hover {
  transform: scale(1.3);
  opacity: .8;
}

.creator-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ddd;
  padding: 0 4rem; 
}



@media(max-width: 1400px) {
  .customers-card-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .customer-card:first-child {
    margin-bottom: 2rem;
  }

  .main-part {
    flex-direction: column;
  }

  .footer-list {
    display: flex;
  }

  .footer-list-item {
    margin-right: 3rem;
  }
}

@media(max-width: 1400px) {
  .about-us {
    flex-direction: column;
    padding-bottom: 20rem;
  }
  .about-us-content {
    margin-bottom: 13rem;
  }

  .image {
    width: 25rem;
  }
}

@media(max-width: 900px) {
  .banner {
    text-align: center;
  }
  .banner-heading {
    font-size: 4.7rem;
  }

  .banner-paragraph {
    font-size: 2.6rem;
  }

  .banner-button {
    width: 16rem;
    font-size: 1.5rem;
  }
}

@media(max-width: 750px) {
  .customer-card {
    flex-direction: column;
    width: 25rem;
    /* padding-top: 0; */
  }

  .customer-image {
    margin-left: 0;
    width: 100%;
    margin-top: -5px;
  }
}

@media(max-width: 500px) {
  .navigation {
    width: 28rem;
  }

  .navigation-search-input {
    width: 25rem;;
  }

  .banner {
    height: 100%;
    margin-top: -10rem;
  }

  .hotel-heading {
    font-size: 2rem;
    margin: auto 0;
  }

  .banner-heading {
    font-size: 3rem;
  }

  .banner-paragraph {
    font-size: 2rem;
  }

  .common-heading {
    font-size: 2rem;
  }

  .small-underline {
    width: 5rem;
  }

  .big-underline {
    width: 12rem;
  }

  .about-us {
    padding-bottom: 15rem;
  }

  .about-us-heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .about-us-content {
    padding: 5rem;
  }

  .sub-heading {
    text-align: center;
    font-size: 2rem;
  }
  .image {
    width: 13rem;
  }

  .room-card-heading {
    font-size: 1.5rem;
  }

  .room-price {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .room-card-btn {
    width: 12rem;
    padding: 1rem;
    font-size: 1rem;
  }
  .customers-paragraph {
    font-size: 1.4rem;
    width:80%;
  }
}